<header>
    <nav class="navbar navbar-expand-lg navbar-dark">
        <div class="container">
            <a class="navbar-brand" href="/">
                <i class="fas fa-graduation-cap me-2"></i>
                Evaluación Docente
            </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="fas fa-home me-1"></i> Inicio</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/docentes/"><i class="fas fa-chalkboard-teacher me-1"></i> Docentes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/evaluaciones/"><i class="fas fa-clipboard-check me-1"></i> Evaluaciones</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/reportes/"><i class="fas fa-chart-bar me-1"></i> Reportes</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>